<header class="flex flex-col items-center z-20 translate-y-12 opacity-0 transition-all translate-y-12 ease-out duration-1000" data-replace="{ 'translate-y-12': 'translate-y-0', 'opacity-0': 'opacity-100' }">
    <div class="relative">
        <div class="absolute top-0 left-0 w-32 h-32 p-1 ring-4 rounded-full ring-purple-600 dark:ring-purple-600 animate-pulse"></div>
        <img class="w-32 h-32 p-1 object-cover object-bottom rounded-full" src="/Images/profile.jpg" alt="Rounded avatar">
    </div>
    <a href="https://www.instagram.com/adrian.gaborek/" class="mt-6 bg-purple-100 text-purple-800 text-lg font-bold me-2 px-4 py-0.5 rounded-full ring-2 ring-purple-700 transition-transform duration-200 transform hover:scale-105">@@adrian.gaborek</a>
    <h1 id="typed-output" class="text-center text-2xl font-bold text-white h-32 flex items-center px-8  outline-none"></h1>
</header>

@code {

}
