@page "/"

<PageTitle>Adrian Gaborek - Links</PageTitle>

<main class="flex flex-col items-center justify-center bg-gray-900 min-h-screen">
    <Header />
    <LinkList />
</main>
<div id="particles-js" class="absolute top-0 left-0 w-full h-full z-10"></div>

<script src="main.js"></script>
